h1{
    color:teal;
    background-color: white;
     padding: 10px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 20px;
}
h2{
    color: white;
    background-color:rgb(125, 125, 125);
    padding: 10px;
    border-radius: 15px;
}

p2{
    color: mediumaquamarine;

}

#callme{
    color: black;
    background-color: rgb(52, 130, 127);
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 2px;
    line-height: normal;
}

*{
    font-family: sans-serif;
}

#lookme{
color: gray；
}

a{
    text-decoration: none; 
    color: #000;
}

a:hover{
    text-decoration: none;
    color: #000;
}


.another{
    color: teal;
    text-decoration: underline;
    font-weight: 900;
    background-color: rgb(239, 239, 239);
}


header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 20px;
}

main{
    background-color: rgb(239, 239, 239);
    padding: 20px;
    height: 300px;
    overflow: scroll;
}

section{
    background-color: rgb(230, 230, 230);
    padding: 10;
}

footer{
    color: white;
    background-color: rgb(52, 130, 127);
    font-size: 25px;
    border: 1px solid;
    border-radius: 15px;


}

#an{
    background-color: rgb(197, 197, 197);
    padding: 20px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 20px;
    
}

.menub{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}